.card {
  display: inline-block;
  border: 1px solid navy;
  color: navy;
  background-color: #F9F6EE;
  padding: 25px;
  font-family: georgia, serif;
  height: 300px;
  width: 200px;
  margin: 20px;
}
.card img {
  width: 200px;
  height: 200px;
}
.card h5 {
  font-style: italic;
}
.card p {
   color: #6F8FAF;
   font-style: italic;
   text-align: right;
   position: relative;
   bottom: 4.5%;
   right: 3%;
  text-decoration: underline;
}
.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
